html
  head
    link(rel='stylesheet', type='text/css', href='/index.css')
    title= title
  body
    #root
      .app
        header.App-header
          h1 tokei-skap
          p Automated bot and API for skap.io statistics
          p.medium-p= usernameText
          p.medium-p= playerCountText
          p.smaller-p See #[a(href='https://github.com/premiering/tokei-skap') premiering/tokei-skap] for more information